{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block "title" %}Index page{% endblock %}</title>
    <link rel="stylesheet" type="text/css"  href="{% static "css/style.css" %}">

</head>
<body>
{% block "header" %}
    <div>
        <div>{% block "logo" %}<a href="{% url 'blog:index' %}">LOGO</a>{%endblock%}</div>
        <div>{% block "slogan" %}
            <a href="{% url 'blog:about_me' %}">{% trans "This is my site" %}!</a>
        {% endblock %}</div>
    </div>
    <div>

{% block trans %}
<form action="{% url 'set_language' %}" method="post">
{% csrf_token %}
<input name="next" type="hidden" value="{{ redirect_to }}" />
<select name="language">
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
    {{ language.name_local }} ({{ language.code }})
</option>
{% endfor %}
</select>
<input type="submit" value="Go" />
</form>
{% endblock %}
    </div>
{% endblock %}
{% block category %}
    <ul>
    {% for i in category %}
        <li><a href="{% url "blog:get_category_article" i.id %}">{{ i.name }}</a>
    {% endfor %}
    </ul>
{% endblock %}
{% block "content"%}{% endblock %}
</body>
</html>