{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block "title" %}Index page{% endblock %}</title>
    <link rel="stylesheet" type="text/css"  href="{% static "css/style.css" %}">

</head>
<body>
{% block "header" %}
    <div>
        <div>{% block "logo" %}<a href="{% url 'blog:index' %}">LOGO</a>{%endblock%}</div>
        <div>{% block "slogan" %}
            <a href="{% url 'blog:about_me' %}">This is my site!</a>
        {% endblock %}</div>
    </div>
{% endblock %}
{% block "category" %}
    <ul>
    {% for i in category %}
        <li><a href="{% url "blog:get_category_article" i.id %}">{{ i.name }}</a>
    {% endfor %}
    </ul>
{% endblock %}
{% block "content"%}{% endblock %}
</body>
</html>